@media only screen and (max-width: 850px) {
   div.container4 {
        margin-top: 0rem;
        padding: 0px;
        font-size: 5px;
    }

    div.socials{
        flex-direction: column;
        margin-top: 10px;
    }
    #li-img{
        height: 95%;
        width: 90%
    }
    #gh-img{
        height: 95%;
        width: 90%
    }
}
html {
    scroll-behavior: smooth;
  }
  
div.container4 {
    background-color: #0B0C10;
    color: #66FCF1;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#SE {
    font-size: 2.9rem;
}

#name {
    font-size: 3.5rem;
}
hr {
    color: #f54753;
    background-color: #f54753;
    width: 50%;
}

body {
    background-color: #0B0C10;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coda', cursive;
}

#message {
    margin-top: 2rem;
    padding: 0rem;
    font-size: 1rem;
    color: #C5C6C7;
}

div.socials {
    color: white;
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    width: 3rem;
    margin: 0.6rem 0.1rem 0.6rem 2.6rem;
}

#gh-img{
    max-height: 60px;
    padding: 0.3rem;
}

#li-img{
    max-height: 60px;
    padding: 0.3rem;
}

p {
color: red;
}


.navbar-custom {
    background-color: #1F2833;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #66FCF1;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #C5C6C7;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #66FCF1;
}
.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}