@media only screen and (max-width: 600px) {
    div.socials{
        flex-direction: column;
        margin-top: 10px;
    }
    #li-img{
        height: 95%;
        width: 90%
    }
    #gh-img{
        height: 95%;
        width: 90%
    }
}

div.container4 {
    background-color: #0B0C10;
    color: #66FCF1;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#SE {
    font-size: 2.9rem;
}

#name {
    font-size: 3.5rem;
}
hr {
    color: #C5C6C7;
    background-color: #C5C6C7;
    width: 50%;
}

body {
    background-color: #0B0C10;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Coda', cursive;
}

#message {
    margin-top: 2rem;
    padding: 0rem;
    font-size: 1rem;
    color: #C5C6C7;
}

div.socials {
    color: white;
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    width: 3rem;
    margin: 0.6rem 0.1rem 0.6rem 2.6rem;
}

#gh-img{
    max-height: 60px;
    padding: 0.3rem;
    
   
}

#li-img{
    max-height: 60px;
    padding: 0.3rem;
   
}

